@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

/* Offline font */
/* @font-face {
    font-family: "Merriweather";
    src: url("../../Fonts/Merriweather.ttf") format("truetype");
} */

:root {
    /* --accent-bright: #FF1E27;
    --accent: #BF1922;
    --accent-dark: #7D141D; */
    --accent-bright: #6d80f0;
    --accent: #3F51B5;
    --accent-dark: #222e72;
    --primary: #004AAC;
    --primary-dark: #002b57;
    --offwhite: #f5f5f5;
    --offwhite-primary: #f3fcff;
    --offwhite-dark: #e0e0e0;
    
    --primary-soft: #ddeaf7;
    --primary-soft-dark: #caddf0;
    /* --accent-soft: #8b90ad; */
    --accent-soft: #c3c8e4;
    --light-gray: #e9e9e9;
    --gray: #888888;
    --dark-gray: #555;
    
    --soft-box-shadow: 0 2px 8px #0002;
    --soft-border-color: rgb(212, 212, 212);
    --soft-border: 1px solid var(--soft-border-color);

    --light-gray-background: #DDDDDD;
    --light-gray-background-dark: #CCCCCC;
    --hover-overlay-color: #00000011;
    --background-color: var(--offwhite-primary);
    --top-down-blue-soft-background-gradient: linear-gradient(rgb(0% 0% 0% / 0) 0%, rgb(9.05% 9.559% 9.729% / 0.009607359798384785) 6.25%, rgb(20.321% 21.225% 21.526% / 0.03806023374435663) 12.5%, rgb(30.457% 31.717% 32.136% / 0.08426519384872738) 18.75%, rgb(39.769% 41.354% 41.883% / 0.1464466094067262) 25%, rgb(48.359% 50.245% 50.873% / 0.22221488349019886) 31.25%, rgb(56.261% 58.424% 59.145% / 0.3086582838174551) 37.5%, rgb(63.482% 65.897% 66.702% / 0.40245483899193585) 43.75%, rgb(70.01% 72.654% 73.536% / 0.49999999999999994) 50%, rgb(75.831% 78.679% 79.628% / 0.5975451610080641) 56.25%, rgb(80.925% 83.952% 84.96% / 0.6913417161825448) 62.5%, rgb(85.274% 88.452% 89.512% / 0.777785116509801) 68.75%, rgb(88.859% 92.163% 93.264% / 0.8535533905932737) 75%, rgb(91.664% 95.066% 96.201% / 0.9157348061512727) 81.25%, rgb(93.678% 97.15% 98.308% / 0.9619397662556434) 87.5%, rgb(94.889% 98.405% 99.576% / 0.9903926402016152) 93.75%, rgb(95.294% 98.824% 100%) 100% );

    --body-font: Merriweather, 'Times New Roman', Times, serif;
    --max-content-width: 1200px;
}

head,
body {
    margin: 0;
    padding: 0;
    /* height: 100%; */ /* Is this not useless? */
    min-height: 100vh;
    background: var(--background-color);
    font-family: var(--body-font);
    line-height: 1.6;
    color: #333333;
}

body.no-scroll {
    overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--body-font);
    color: #333333;
}

.heading {
    margin: 0;
}

.subheading {
    margin-top: 0;
    font-weight: 400;
    color: #555;
}

p.subheading {
    font-size: 0.9em;
}

p, li, a, button, input, textarea {
    font-size: 1em;
    font-family: var(--body-font);
    color: #333333;
}

.no-margin {
    margin: 0;
}

/* #region Text Links */
a {
    color: var(--accent);
    text-decoration: none;
    position: relative;
    transition: color 0.5s;
}

a:not(.button).text-link::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    height: 2px;
    width: 0%;
    transition: width 0.5s, background-color 0.5s;
    background-color: var(--accent);
}

a:hover {
    color: var(--accent-dark);
}

a:not(.button).text-link:hover::after {
    width: 100%;
    background-color: var(--accent-dark);
}
/* #endregion */

/* #region Buttons */
.button {
    background: var(--accent);
    border-radius: 10px;
    color: #ffffff;
    border: none;
    padding: 10px;
    text-decoration: none;
    transition: all 0.2s;
}

.button:hover {
    background: var(--accent-dark);
    color: #dddddd;
}

.button:disabled {
    background-color: var(--accent-soft);
    color: #ffffff;
}

.accent-button {
    background: var(--gray);
    border-radius: 10px;
    color: #ffffff;
    border: none;
    padding: 10px;
    text-decoration: none;
    transition: all 0.2s;
}

.accent-button:hover {
    background: var(--dark-gray);
    color: #dddddd;
}

.accent-button:disabled {
    background-color: var(--offwhite-dark);
    color: #ffffff;
}

.inline-button {
    border: 0;
    background: none;
    padding: 6px;
    height: min-content;
    border-radius: 10px;
    transition: background 0.2s;
}

.inline-button:hover:not(:disabled) {
    background: var(--hover-overlay-color);
}

.inline-button:disabled, .inline-button:disabled * {
    color: var(--gray);
    stroke: var(--gray);
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    cursor: pointer;
}

button > svg {
    display: block;
}
/* #endregion */

/* #region topnav */
#topnav-wrapper {
    z-index: 999; /* Ensure stacking context is ALWAYS above all other things on the page except modals */
}

#topnav {
    background: #FFFFFF;
    /* Gives the appearance of a flatter page. Consider using this if we want to move towards a more modern look */
    /* border-bottom: 3px solid var(--offwhite-dark); */
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    top: 0;
    position: -webkit-sticky;
    position: sticky;
    width: 100%;
    /* box-shadow: 0 0 20px 1px #000000; */
    box-shadow: var(--soft-box-shadow);
    line-height: 2; /* Fixes the bug that makes the right side have horizontal white-space channels because the SVG is bigger than line-height */
}

#topnav * {
    color: inherit;
}

#topnav>div {
    display: flex;
    height: 100%;
}

#topnav>div>div.topnav-dropdown {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 10px 20px;
    color: var(--primary);
    transition: 0.2s all;
    position: relative;
    /* box-sizing: content-box; */
}

#topnav>div>div.topnav-dropdown:hover {
    color: var(--primary-dark);
    background: #FAFAFA;
}

#topnav>div>div.topnav-dropdown> span {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

#topnav>div>div.topnav-dropdown>span> .caret {
    stroke: var(--primary);
    rotate: 180deg; /* Rotate the caret to point downwards */
    transition: 0.2s all;
    width: 20px;
}

#topnav>div>div.topnav-dropdown:hover>span> .caret {
    stroke: var(--primary-dark);
    rotate: 0deg; /* Rotate the caret back to point upwards */
}

#topnav>div>div.topnav-dropdown > div {
    display: none;
    position: absolute;
    top: 65px;
    left: 0;
    padding: 10px;
}

#topnav>div>div.topnav-dropdown:hover > div {
    display: block;
}

#topnav>div>div.topnav-dropdown > div>div {
    width: 200px;
    background-color: #FFFFFF;
    border: 2px solid var(--primary);
    border-radius: 10px;
    padding: 10px;
}

#topnav>div>div.topnav-dropdown > p {
    margin: 0;
    font-weight: 600;
    font-size: 1.5rem;
}


#topnav a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 10px 20px;
    color: var(--primary);
    transition: 0.2s all;
}

#topnav a:hover {
    color: var(--primary-dark);
    background: #FAFAFA;
}

#topnav a p {
    margin: 0;
    font-weight: 600;
    font-size: 1.5rem;
}

#topnav>div>#topnav-hamburger {
    display: none;
}

#topnav-dropdown {
    display: none;
}
#topnav>.mobile-only {
    display: none;
}

@media screen and (max-width: 975px) {
    #topnav {
        padding-right: 10px;
    }
    #topnav>div {
        display: none;
    }
    #topnav>.mobile-only {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }
    #topnav>div>#topnav-hamburger {
        display: flex;
        align-items: center;
        padding: 10px;
        padding-left: 15px;
        padding-right: 15px;
        --fill-color: var(--primary);
    }
    #topnav>div>#topnav-hamburger:hover {
        background-color: var(--offwhite);
        --fill-color: var(--primary-dark);
    }

    #topnav-dropdown {
        display: none;
        position: absolute;
        opacity: 0;
        top: 55px;
        right: 10px;
        padding: 10px;
        border: 2px solid var(--primary);
        border-radius: 10px;
        background-color: #ffffff;
        transition: 2s opacity;
    }

    #topnav-dropdown.visible {
        display: block;
        opacity: 1;
    }

    #topnav-dropdown>* {
        position: relative;
    }

    #topnav-dropdown>:first-child {
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
    }

    #topnav-dropdown>:last-child {
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    #topnav-dropdown>:not(:last-child)::after {
        content: '';
        width: 100%;
        height: 2px;
        position: absolute;
        bottom: -1px;
        left: 0;
        background: var(--accent-soft);
        border-radius: 10px;
        z-index: 999;
    }

    #topnav-dropdown>div>p {
        margin: 0;
        font-weight: 600;
        color: var(--primary);
        user-select: none;
        text-align: center;
    }

    #topnav-dropdown>div>div>a {
        padding: 5px;
    }
}
/* #endregion */

/* #region Footer */

#footer {
    background: var(--accent-soft);
    color: var(--accent-dark);
    padding: 2rem;
    text-align: center;
}

/* #endregion */

.horiz-spaced {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.vert-centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

.center-text {
    text-align: center;
}

.no-user-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.flex-vert {
    display: flex;
    flex-direction: column;
}

.center-vert {
    display: flex;
    align-items: center;
}

.section-primary-bg {
    background: var(--background-color);
    padding: 2rem;
}

.section-neutral-bg {
    padding: 2rem;
}

.secondary {
    --background-color: var(--primary-soft);
    padding: 2rem;
}

.section-title {
    margin-top: 0;
    font-size: 3rem;
    text-align: center;
}

.section-title-left {
    margin-top: 0;
    font-size: 3rem;
}

.section-transition-gradient {
    position: absolute;
    width: 100%;
}

.section-transition-gradient::after {
    content: "";
    display: block;
    height: 150px;
    width: 100%;
    position: relative;
    top: -150px;
    background: var(--top-down-blue-soft-background-gradient);
    z-index: 100;
}

.flex-grow {
    flex-grow: 1;
}

/* #region Text Input */
.text-input-wrapper {
    border: var(--soft-border);
    color: var(--gray);
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    align-items: center;
    padding: 0 8px;
    overflow: hidden;
    transition: border-color 0.2s, box-shadow 0.2s, color 0.2s;
}

.text-input-wrapper:has(input:disabled), .text-input-wrapper:has(input:disabled) * {
    background-color: var(--offwhite-dark);
    border-color: var(--offwhite-dark);
    color: var(--gray);
    cursor: text;
}

.text-input-wrapper:focus-within {
    border-color: var(--primary);
    color: var(--primary);
}

.text-input-wrapper:hover {
    cursor: text;
}

.text-input-wrapper svg {
    flex-shrink: 0;
}

.text-input-wrapper input {
    flex-grow: 1;
    padding: 8px 12px;
    font-size: 1rem;
    border: none;
    outline: none;
}
/* #endregion */

/* #region Modal */
.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.5s;
}

.modal-container.active {
    pointer-events: auto;
    opacity: 1;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    border-radius: 20px;
    padding: 2rem;
    min-width: 40%;
    max-height: 80dvh;
    overflow: auto;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 8px;
    margin-bottom: 12px;
}
/* #endregion */

/* #region Checkbox */
.checkbox-label {
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: fit-content;
    display: flex;
    align-items: center;
}

.checkbox-label p {
    margin-top: 0;
    margin-bottom: 0;
}

.checkbox-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border-radius: 25%;
    background-color: #eee;
}

.checkbox-label:hover input~.checkmark {
    background-color: #ccc;
}

.checkbox-label input:checked~.checkmark {
    background-color: var(--primary);
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox-label input:checked~.checkmark:after {
    display: block;
}

.checkbox-label .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
/* #endregion */